<mat-card>
    <mat-card-header>All Events</mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3 offset-sm9">
                <a  [routerLink]="['gallery-add']"  class="btn btn-block btn-link" type="button">Add Event</a>
            </div>
        </div>
        <mat-accordion class="example-headers-align">
            <span *ngFor="let event of galleryList; let i=index">
                <ng-template #GalleryBaseRef>
                    <div class="row">
                        <div class="col-md-3" *ngFor="let link of event.media">
                            <img [src]="link"/>
                        </div>
                    </div>
                    <a [routerLink]="['gallery-add']" (click)="sharedData(event)" [queryParams]="{data:event.id}">Click here to edit</a>
                </ng-template>
                <mat-expansion-panel [expanded]="i == 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{event.title}}<br>
                            {{event.date}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{event.subTitle}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template [ngTemplateOutlet]="GalleryBaseRef"></ng-template>
                </mat-expansion-panel>
            </span>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<!-- Creating reusable and dynamic change template using ng-template  -->
<!-- But we cannot iterater over the images of array, so we define ng-template inside the mat-accordion -->


<!-- <ng-template #GalleryBaseRef>
    <div class="row">
        <div class="col">
            <img src="./../../../assets/Shizuka.jpg"  />
            <img src="./../../../assets/Shizuka.jpg" />
            <img src="./../../../assets/Shizuka.jpg" />
            <img src="./../../../assets/Shizuka.jpg" />
        </div>
    </div>
</ng-template> -->